.pass{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pass_show{

    margin-top: 10px;
}
.container{
    /* position:absolute; */
    /* top: 50%; */
    /* border: 2px solid red; */
    padding: 50px;
    width: 40%;
}
.text-center{
    text-align: center;
    font-size: 28px;

    /* text-decoration: underline; */

    
}

.card {
    border-radius: 10px;
    /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); */
    max-width: 500px;
    margin: 80px auto;
    padding: 50px;
    background-color: #f8f8f8;
  }
  
  .btn{
    color: black;
    background-color: white;
    border:1px solid rgb(110, 173, 110);
    
  }
  .btn:hover{
      color: white;
      background-color: rgb(110, 173, 110);
  } 
  .err{
      color: red;
  }